<h1 class="text-center mt-4">Edit your profile</h1>

<%= render 'devise/registrations/form' %>
<%= link_to "[Cancel my account]", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "mx-auto justify-content-center d-grid gap-2 d-md-flex mt-4 text-info" %></p>


