<h1 class="text-center mt-4">Edit an answer</h1>
<div class="container mb-4 mt-4">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            
            <%= render 'answform' %>
        </div>
    </div>
</div>

